.background {
    -fx-background-color: derive(grey, 20%);
    background-color: white; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-group {
    -fx-background-color: blue;
    -fx-padding: 2 5 2 5;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 13;
    -fx-text-fill: #FFFFFF;
}

.label-group-panel {
    -fx-text-fill: white;
    -fx-background-color: blue;
    -fx-alignment: center;
    -fx-padding: 2 5 2 5;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 18;
    /*-fx-font-style: bold;*/
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.text-panel-header {
    -fx-font-size: 17pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-background-color: #9ba0a3;
    -fx-background-radius: 2;
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: pink;
    -fx-background-color: brown;
    -fx-table-cell-border-color: grey;
    -fx-table-header-border-color: grey;
    -fx-padding: 25;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: skyblue;
    -fx-border-color:
        grey
        grey
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: white;
    -fx-border-color: transparent transparent transparent transparent;
}

.split-pane {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-background-color: white;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: derive(#cccccc, 20%);
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
    -fx-background-color: #d3ffff;
    -fx-border-width: 4 10 4 10;
    -fx-border-color: #cccccc;
}

.list-cell:filled:odd {
    -fx-background-color: #d3ffff;
    -fx-border-width: 4 10 4 10;
    -fx-border-color: #cccccc;
}

.list-cell:filled:selected {
    -fx-background-color: #a9e2fc;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #3e7b91;
    -fx-border-width: 2;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 18px;
    -fx-text-fill: #000000;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 15px;
    -fx-text-fill: #000000;
}

.cell_medium_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 20px;
    -fx-text-fill: #000000;
    -fx-alignment: center;
}

.anchor-pane {
     -fx-background-color: derive(skyblue, 75%);
}

.loginpane {
    -fx-background-color: #fff4b7;
    -fx-border-style: solid;
}

.pane-with-border {
     -fx-background-color: white;
     -fx-border-color: derive(white, 40%);
     -fx-border-width: 0 0 1 0;
}

.status-bar {
    -fx-background-color: derive(grey, 20%);
    -fx-text-fill: black;
}

.result-display {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-top-width: 1px;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 15pt;
    -fx-text-fill: black;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
}

.status-bar-with-border {
    -fx-background-color: derive(grey, 30%);
    -fx-border-color: derive(grey, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: black;
}

.grid-pane {
    -fx-background-color: derive(skyblue, 30%);
}

.grid-pane .anchor-pane {
    -fx-background-color: derive(#cccccc, 20%);
}

.context-menu {
    -fx-background-color: derive(#35c6f2, 70%);
}

.context-menu .label {
    -fx-text-fill: black;
}

.menu-bar {
    -fx-background-color: derive(white, 20%);
    -fx-border-color: black transparent black transparent;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
}

.menu .left-container {
    -fx-background-color: grey;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 10 5 10;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-background-color: white;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: derive(skyblue, 50%);
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: derive(skyblue,20%);
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: black;
    -fx-border-width: 1, 1, 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: derive(skyblue,20%);
    -fx-text-fill: black;
}

.button:default {
    -fx-background-color: white;
    -fx-text-fill: #000000;
    -fx-border-width: 1;
}

.button:default:hover {
    -fx-background-color: derive(skyblue, 50%);
}

.dialog-pane {
    -fx-background-color: white;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: white;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(grey, 40%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: skyblue;
    -fx-text-fill: black;
}

.scroll-bar {
    -fx-background-color: #cccccc;
}

.scroll-bar .thumb {
    -fx-background-color: #fff4b7;
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 0 7 0 7;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 7 0 7 0;
}

#cardPane {
    -fx-padding: 5 5 5 5;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-color: black;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 15pt;
    -fx-text-fill: black;
}

#filterField, #memberListPanel, #memberWebpage {
    -fx-effect: dropshadow(gaussian, grey, 100, 100, 100, 100);
}

#resultDisplay .content {
    -fx-background-color: #e2ffff;
    -fx-background-radius: 0;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-padding: 2 5 2 5;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 13;
}

#tags .red {
    -fx-text-fill: white;
    -fx-background-color: #B10202;
}

#tags .yellow {
    -fx-text-fill: black;
    -fx-background-color: #F4F00D;
}
#tags .grey {
    -fx-text-fill: white;
    -fx-background-color: #595959;
}
#tags .brown {
    -fx-text-fill: white;
    -fx-background-color: brown;
}
#tags .pink {
    -fx-text-fill: black;
    -fx-background-color: pink;
}
#tags .white {
    -fx-text-fill: #235E70;
    -fx-background-color: white;
}
#tags .orange {
    -fx-text-fill: black;
    -fx-background-color: orange;
}

#tags .blue {
    -fx-text-fill: black;
    -fx-background-color: skyblue;
}

#tags .violet {
    -fx-text-fill: black;
    -fx-background-color: violet;
}

#answers {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#answers .label {
    -fx-padding: 2 5 2 5;
    -fx-border-radius: 2;
    -fx-background-radius: 8;
    -fx-font-size: 11;
    -fx-text-fill: #235E70;
    -fx-background-color: white;
}
